# 6) The Premium of Having a White Female Name in the Canadian Job Market During the Great Recession 2007-2009

[Vitor Kamada](https://www.linkedin.com/in/vitor-kamada-1b73a078)

E-mail: econometrics.methods@gmail.com

Last updated: 9-15-2020

I reanalyzed the experimental data from Oreopoulos (2011) and I found evidence that there is a premium of having a White Female name in a Canadian Job Market during the Great Recession 2007-2009. White Females had 8% higher callback rate to a job interview than White Males between February and September 2009. The magnitude of the effect is substantial high given that White Males have callback rate of about 10% over different regression specifications.

Oreopoulos (2011) found that those with English names have a 15.7% callback rate against 6% of those with Indian, Pakistani, Chinese, and Greek names. I argue that his main finding is largely driven by White Females. I found that there is not much advantage of having a White Male name over an Indian, Chinese, and Greek Male name during the worst period of the Great Recession, February to September 2009. 

I use the dataset from Oreopoulos (2011). Each row is a resume sent to multiple occupations in the region of Toronto and Montreal.

In [1]:
import numpy as np
import pandas as pd
pd.set_option('precision', 3)

# Data from Oreopoulos (2011)
path = "https://github.com/causal-methods/Data/raw/master/" 
df = pd.read_stata(path + "oreopoulos.dta")
df.head(5)

   firmid occupation_type name_ethnicity  ...  pakistani Chn_Cdn  same_exp
0      -3  Administrative         Canada  ...        NaN     NaN       NaN
1      -3  Administrative         Indian  ...        NaN     NaN       NaN
2      -3  Administrative         Indian  ...        NaN     NaN       NaN
3      -3  Administrative        Chinese  ...        NaN     NaN       NaN
4      -4  Administrative         Indian  ...        NaN     NaN       NaN

[5 rows x 31 columns]

In [2]:
# Transform the variable of interest in % 
df["callback"] = 100*df["callback"]

The first wave of experimental data collected by Oreopoulos (2011) was between April and August 2008. This is the "starting period" of Great Recession.

In [3]:
# Restrict data to April and August 2008
df0 = df[(df.fall_data == 0)]

The proportion of callback to job interview is substantial higher to Canadian names (15.84%) than Chinese and Indian names (9.23% and 9.53%). The name ethnicity was randomized. It is not possible to argue that Canadians have more education or experience to justify the difference of about 5%. All resumes are qualitatively the same except by the applicant name. Therefore, we can conclude that discrimination against immigrants is a real phenomenon.

In [4]:
mean = df0.groupby('name_ethnicity').agg([np.mean, np.size])
mean["callback"]

                  mean    size
name_ethnicity
Canada          15.845   953.0
Chinese          9.231  1430.0
Indian           9.534  1416.0

In the sample of April to August 2008, a Female name appears to give a slightly, but negligible advantage to secure a job interview compared to a Male name. This result supports the findings of Oreopoulos (2011). In his paper, the coefficients of Female are not statistically significant in most part of regressions.

In [5]:
prop = pd.crosstab(index= df0['name_ethnicity'], columns=df0['female'], 
            values=df0['callback'], aggfunc='mean')
prop

female             0.0     1.0
name_ethnicity
Canada          15.551  16.122
Chinese          9.065   9.392
Indian           9.490   9.577

The third wave of experimental data collected by Oreopoulos (2011) was between February and September 2009. This is the worst period of Great Recession.

In [6]:
# Restrict data to February and September 2009
df2 = df[(df.fall_data == 2)]

A Canadian name has a callback rate of 14% against Chinese (8.96%), English first name and Chinese last name (7.13%), Greek (10.11%), and Indian (7.9%). 

Note that overall, the callback rates are slightly lower in this third wave sample than the first wave sample for the common ethnicities in both samples.

In [7]:
mean = df2.groupby('name_ethnicity').agg([np.mean, np.size])
mean["callback"]

                  mean    size
name_ethnicity
Canada          14.080  1044.0
Chinese          8.956  1418.0
Chn-Cdn          7.128   491.0
Greek           10.109   366.0
Indian           7.899  1937.0

In [8]:
import plotly.express as px

y = mean["callback"].values[:, 0]
x = mean["callback"].index

fig = px.bar(df2, x, y, color = x,
             title="Callback Rate for Interview by Name Ethnicity",
             labels={ "y": "Callback Rate (%)",
                      "x": "Name Ethnicity",                 
                      "color": ""} )

fig.update_layout(font_size = 17)
fig.show()

In the sample of February to September 2009, a White Female name has a callback rate of 18.3% against 10.17% of White Male name. We don’t see this huge difference for other ethnicities. In fact, the effect is reverse for Greek name. A Greek Male name has a callback rate of 10.71% against 9.6% of Greek Female name. A White Male name has advantage over Chinese and Indian Male names, but the magnitude is not huge as the difference between White Male vs White Female.

In [9]:
prop = pd.crosstab(index= df2['name_ethnicity'], columns=df2['female'], 
            values=df2['callback'], aggfunc='mean')
prop

female             0.0     1.0
name_ethnicity
Canada          10.169  18.129
Chinese          8.715   9.177
Chn-Cdn          6.410   7.782
Greek           10.714   9.596
Indian           7.252   8.559

In [10]:
import plotly.graph_objects as go

ethnicity = prop.index
male = prop.values[:,0]
female = prop.values[:,1]

fig = go.Figure(data=[
         go.Bar(name='Male', x = ethnicity, y = male),
         go.Bar(name='Female', x = ethnicity, y = female) ])

fig.update_layout(barmode='group', font_size = 17,
      title = "Callback Rate for Interview by Gender",
      yaxis = dict(title='Callback Rate (%)'),
      xaxis = dict(title='Name Ethnicity') )

fig.show()

Somebody might argue that there are confounding factors that drive the observed difference. For example, somebody might say that in the real world, Females are more educated and qualified than Males. Remember that this is an experimental data, all resumes were artificially constructed, and all relevant dimensions were randomized by Oreopoulos (2011). The control variables show that Females and Males are similar to each other.

In [11]:
control = ['additional_credential', 'ba_quality',
           'extracurricular_skills', 'language_skills',
           'certificate', 'ma', 'same_exp', 'exp_highquality',
           'skillspeaking', 'skillsocialper', 'skillwriting']
           
df2.groupby('female').agg([np.mean])[control]

       additional_credential ba_quality  ... skillsocialper skillwriting
                        mean       mean  ...           mean         mean
female                                   ...
0.0                    0.059      0.640  ...         59.654       64.286
1.0                    0.054      0.655  ...         59.777       64.216

[2 rows x 11 columns]

The astute reader might argue that it is not enough to show that Males and Females are similar to each other to support my thesis of the White Female premium. I must show that the average White Female is similar to the average White Male in the sample. For some variables, White Females look slightly more qualified but for other variables slightly less qualified. Many dimensions of data were randomized, the observed differences look the product of sampling variation. Overall, both White Males and Females look similar. We can be rigorous and control for all these factors in the regression framework. I see more variation among ethnicity than gender. The variation among ethnicity looks excessive for an experiment. Therefore, I will break the regression analysis by ethnicity and control for several factors.

In [12]:
df2.groupby(['female', 'name_ethnicity']).agg([np.mean])[control]

                      additional_credential  ... skillwriting
                                       mean  ...         mean
female name_ethnicity                        ...
0.0    Canada                         0.056  ...       63.546
       Chinese                        0.062  ...       64.312
       Chn-Cdn                        0.068  ...       63.979
       Greek                          0.065  ...       65.220
       Indian                         0.055  ...       64.582
1.0    Canada                         0.055  ...       64.179
       Chinese                        0.055  ...       64.349
       Chn-Cdn                        0.047  ...       63.233
       Greek                          0.045  ...       64.894
       Indian                         0.055  ...       64.257

[10 rows x 11 columns]

Let $y_{rjt}$ be a dummy variable equal to 1 if the resume $r$ sent to job $j$ in time $t$ receives a callback; and 0 otherwise. The variable of interest is the "Female" dummy and the interactions with "Resume Type".

There are five "Resume Types": 0) English name with Canadian education and experience; 1) Foreign name with Canadian education and experience; 2) Foreign name and education with Canadian experience; 3) Foreign name and education with mixed experience; and 4) Foreign name, education, and experience.

The following linear probability model is the preferred specification:

$$y_{rjt}= \beta Female_{rjt}+\gamma Resume\ Types_{rjt}+ \delta Female_{rjt} \cdot  Resume\ Types_{rjt} + \alpha X + \epsilon_{rjt}$$

where $X$ is vector of control variables, and $\epsilon_{rjt}$ is the usual error term. All regressions present robust standard errors to heteroskedasticity.

For all Tables 1, 2, and 3, we present 4 regressions to compare "Canadians" with a specific ethnicity. The logic is to keep a homogenous sample and avoid the variations of ethnicity that could confound the results. 

Table 1 presents the results without interactions and control variables. The advantage of being Female ranges from an increase of callback rate of 3.64% to 5.97% in comparison to Males. The callback rate for White Males, the base (Type 0), ranges from 11.14% to 12.29%. Oreopoulos (2011) presented estimations for Type 0 that varied from 15.4% to 16%, but his estimations capture the impact of English name not isolated from the gender effect. 

We see a pattern, where the coefficients of Type 1, 2, 3, and 4, are all negative and increase in absolute terms as measure of "foreign". More "foreign" is a person in terms of name, education, and experience, lower the callback rate. But just a foreign name is already enough to decrease the callback rate in 3.38% to 5.11% compared to an English name. Overall, the results are statistically significant at 1% level of significance. One exception is the coefficient of Type 1 for the regression (3) of English first name with Chinese last name. The pattern described here matches with main finding reported by Oreopoulos (2011).

In [13]:
import statsmodels.formula.api as smf

# Sample Restriction based on name ethnicity
Canada = df2.name_ethnicity == "Canada"
Indian = df2[(Canada) | (df2.name_ethnicity == "Indian")]
Chinese = df2[(Canada) | (df2.name_ethnicity == "Chinese")]
Chn_Cdn = df2[(Canada) | (df2.name_ethnicity == "Chn-Cdn")]
Greek = df2[(Canada) | (df2.name_ethnicity == "Greek")]

sample = [Indian, Chinese, Chn_Cdn, Greek]

#  Run the simple model for each ethnicity
# and save the results
model1 = "callback ~ female + C(type)"

result1 = []
for data in sample:
   ols = smf.ols(model1, data).fit(cov_type='HC1')
   result1.append(ols)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [14]:
#  Library to print professional publication
# tables in Latex, HTML, etc.
!pip install stargazer

Collecting stargazer
  Downloading https://files.pythonhosted.org/packages/28/32/fbd3d359cdc12dcdceb556bd40ab967878ad63b8a05445148ad1d2389573/stargazer-0.0.5-py3-none-any.whl
Installing collected packages: stargazer
Successfully installed stargazer-0.0.5

In [15]:
# Settings for a nice table
from stargazer.stargazer import Stargazer
stargazer = Stargazer(result1)

stargazer.title('Table 1 - Callback Rates by Resume Type')

names = ['Indian', 'Chinese', 'Chn_Cdn', 'Greek']
stargazer.custom_columns(names, [1, 1, 1, 1])

order = ['female', 'Intercept', 'C(type)[T.1.0]',
         'C(type)[T.2.0]', 'C(type)[T.3.0]',
         'C(type)[T.4.0]']     
stargazer.covariate_order(order)

dict1 = {'C(type)[T.1.0]': '1) Foreign Name, Cdn Educ and Exp',
         'C(type)[T.2.0]': '2) Foreign Name and Educ, Cdn exp',
         'C(type)[T.3.0]': '3) Foreign Name and Educ, Mixed Exp',
         'C(type)[T.4.0]': '4) All Foreign (Name, Educ, and Exp)',
              'Intercept': '0) English Name, Cdn Educ and Exp',
                 'female': 'Female'}
stargazer.rename_covariates(dict1)

stargazer

Table 2 adds interaction terms of Female and Resume Types. The coefficient of Female capture only the impact of being White Female, because foreign Female is captured by the interaction terms between Female and Types. White Female increases the callback rate in 7.96% compared with White Male (base line of 10.17%). 

The coefficients of the interaction terms are negative with high magnitude in absolute terms, but not all statistically significant. The pattern suggests the foreign Females have a very low callback rate compared to White Females.

Interesting to note that the coefficients of Types 1, 2, 3, and 4 are lower in magnitude and less statistically significant compared to Table 1. This pattern suggests that White Males has advantage over Indians and people with Chinese last name, but not Greeks or Chinese (first and last name). The coefficients of these two last groups are not statistically significant.

In [16]:
model2 = "callback ~ female*C(type)"

result2 = []
for data in sample:
   ols = smf.ols(model2, data).fit(cov_type='HC1')
   result2.append(ols)

In [17]:
stargazer = Stargazer(result2)

stargazer.title('Table 2 - Callback Rates by Resume Type and Gender')

stargazer.custom_columns(names, [1, 1, 1, 1])

dict2 = {'female:C(type)[T.1.0]':'[Female]x[1]',
         'female:C(type)[T.2.0]':'[Female]x[2]',
         'female:C(type)[T.3.0]':'[Female]x[3]',
         'female:C(type)[T.4.0]':'[Female]x[4]'}

list2 = list(dict2.keys())

dict2.update(dict1)
stargazer.rename_covariates(dict2)

list2 = order + list2
stargazer.covariate_order(list2)

stargazer

Table 3 adds control variables as robustness checks. The overall results are similar to Table 2. The impact of White Female even increases slightly compared to Table 2. The huge premium of being White Female remains over all other categories.The White Female carries a premium superior than the cumulative impact of bachelor degree from Top 200 world ranking university, experience in large firm, extra-curricular activities, fluent in French and other languages, and Canadian master’s degree. 

Note that for Type 1, only the coefficient of the Indian Regression  is statistically significant. A White Male name has no advantage over a Chinese, Chinese-Canadian, and Greek names.

In [18]:
control1 = "+ ba_quality + extracurricular_skills + language_skills"
control2 = "+ ma + exp_highquality"
model3 = "callback ~ female*C(type)" + control1 + control2

result3 = []
for data in sample:
   ols = smf.ols(model3, data).fit(cov_type='HC1')
   result3.append(ols)

In [19]:
stargazer = Stargazer(result3)

stargazer.title('Table 3 - Callback Rates and Robustness Checks')

stargazer.custom_columns(names, [1, 1, 1, 1])

dict3 = {'ba_quality':'Top 200 world ranking university',
         'exp_highquality':'High quality work experience',
         'extracurricular_skills'	:'List extra-curricular activities',
         'language_skills':'Fluent in French and other languages',
         'ma':'Canadian master’s degree'}

list3 = list(dict3.keys())

dict3.update(dict2)
stargazer.rename_covariates(dict3)

list3 = list2 + list3
stargazer.covariate_order(list3)

stargazer

## Exercises

1| Why the White Female premium appears in the middle of the Great Recession between February and September 2009, but not before on April and August 2008? Speculate.

2| Recruiters might prefer to talk to White Females, but not necessary hire them. How I can figure out if higher callback rates reflect in more job offers. For example, how I can get data to check this relationship?

3| What can you infer about the table below? Do you have any insights to share?

In [20]:
pd.crosstab(index= [df2['name_ethnicity'], df2['female'],
                           df2['name']], columns=df2['type'], 
                         values=df2['callback'], aggfunc='mean')

type                                        0.0     1.0     2.0     3.0     4.0
name_ethnicity female name
Canada         0.0    GregJohnson        11.561     NaN     NaN     NaN     NaN
                      JohnMartin          8.235     NaN     NaN     NaN     NaN
                      MatthewWilson      10.638     NaN     NaN     NaN     NaN
               1.0    AlisonJohnson      18.675     NaN     NaN     NaN     NaN
                      CarrieMartin       20.455     NaN     NaN     NaN     NaN
                      JillWilson         15.205     NaN     NaN     NaN     NaN
Chinese        0.0    DongLiu               NaN  10.870   3.390  13.158   2.381
                      LeiLi                 NaN  14.062   9.756   8.065  11.364
                      YongZhang             NaN  10.227   7.407   3.509   8.333
               1.0    MinLiu                NaN   8.235   5.357  11.321  15.556
                      NaLi                  NaN  10.127  12.698   5.556   2.703
                      XiuyingZhang          NaN  11.927   6.780   9.091   7.018
Chn-Cdn        0.0    EricWang              NaN   9.677   3.390   8.889   0.000
               1.0    MichelleWang          NaN  12.500   6.780   4.348   3.571
Greek          0.0    LukasMinsopoulos      NaN  10.714     NaN     NaN     NaN
               1.0    NicoleMinsopoulos     NaN   9.596     NaN     NaN     NaN
Indian         0.0    ArjunKumar            NaN   8.642   8.333   3.125   4.762
                      PanavSingh            NaN   1.333  15.942   7.317   2.500
                      RahulKaur             NaN   8.571  10.769   5.455   7.317
                      SamirSharma           NaN   5.814   6.897  10.256   6.522
               1.0    MayaKumar             NaN  14.286   6.944   3.448   5.263
                      PriyankaKaur          NaN   6.481  14.815   3.636   5.128
                      ShreyaSharma          NaN  13.158   8.772   4.651   5.128
                      TaraSingh             NaN  14.286   8.065   9.091   4.444

4| What can you infer about the table below? Do you have any insights to share?

In [21]:
pd.crosstab(index= df2['occupation_type'],
                   columns=[df2['name_ethnicity'], df2['female']], 
                   values=df2['callback'], aggfunc='mean')

name_ethnicity           Canada         Chinese  ...   Greek  Indian
female                      0.0     1.0     0.0  ...     1.0     0.0     1.0
occupation_type                                  ...
Accounting                2.703   8.929   5.769  ...  14.286   1.429   4.348
Administrative            7.895  23.288  10.112  ...  10.714   7.383   6.015
Civil Engineer            5.556  50.000   6.250  ...   0.000   4.762   0.000
Clerical                  4.444   8.140   5.172  ...   3.704   5.000   4.790
Ecommerce                 0.000   0.000   9.091  ...   0.000   0.000   0.000
Electrical Engineer       6.250  28.571   7.143  ...  33.333  16.667   0.000
Executive Assistant      23.077  17.647   5.263  ...   0.000   6.250   7.407
Finance                  16.667  26.316   5.000  ...   0.000  12.766   2.439
Food Services Managers   16.667  16.667   0.000  ...   0.000   0.000   7.143
Human Resources Payroll  20.000  18.182   0.000  ...   0.000   6.250   0.000
Insurance                53.846  40.000  14.286  ...   0.000  25.926  40.000
Marketing and Sales      12.791  22.222  12.409  ...  18.605   7.143  10.638
Production                0.000   0.000   0.000  ...   0.000   3.571   2.857
Programmer               10.256  17.391  13.462  ...   5.882  11.688  17.333
Retail                   19.048  21.622  14.545  ...  15.000   6.757  19.403
Technology                0.000  16.667   3.226  ...   0.000   5.556   7.407

[16 rows x 10 columns]

5| Interpret the results of the Table 4. Focus on the addition of Fixed Effects (Occupation, Name, and City).

In [22]:
FE = "+ C(occupation_type) + C(city) + C(name)"
model4 = "callback ~ female*C(type) " + control1 + control2 + FE

result4 = []
for data in sample:
   ols = smf.ols(model4, data).fit(cov_type='HC1')
   result4.append(ols)

In [23]:
stargazer = Stargazer(result4)

stargazer.title('Table 4 - Callback Rates and Fixed Effects')
stargazer.custom_columns(names, [1, 1, 1, 1])
stargazer.rename_covariates(dict3)
stargazer.covariate_order(list3)

stargazer.add_line('Fixed Effects', ['', '', '', ''])
stargazer.add_line('Occupation', ['Yes', 'Yes', 'Yes', 'Yes'])
stargazer.add_line('Name', ['Yes', 'Yes', 'Yes', 'Yes'])
stargazer.add_line('City', ['Yes', 'Yes', 'Yes', 'Yes'])

stargazer

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:1752: ValueWarning:

covariance of constraints does not have full rank. The number of constraints is 43, but rank is 41

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:1752: ValueWarning:

covariance of constraints does not have full rank. The number of constraints is 41, but rank is 39

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:1752: ValueWarning:

covariance of constraints does not have full rank. The number of constraints is 37, but rank is 35

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:1752: ValueWarning:

covariance of constraints does not have full rank. The number of constraints is 31, but rank is 29

6| The second wave of experimental data collected by Oreopoulos (2011) was between September and November 2008. Use this data to investigate if there is a premium of having a White Female name in the Canadian job market. Produce only one professional publication table and interpret the main results.

7| For this question, think outside of the box like Bertrand & Mullainathan (2004) and Oreopoulos (2011). Some researches argue that taller people make more money not because of the direct effect of the height, but because of the indirect effect via self-esteem. Propose a feasible research design to test if there is a causal effect between:

a) Height and salary.

 b) Height and self-esteem.

 c) Self-esteem and salary.

## Reference

Bertrand, Marianne, and Sendhil Mullainathan. (2004). Are Emily and Greg More Employable Than Lakisha and Jamal? A Field Experiment on Labor Market Discrimination. American Economic Review, 94 (4): 991-1013. [Click to download the paper](https://github.com/causal-methods/Papers/raw/master/Are%20Emily%20and%20Greg%20More%20Employable%20than%20Lakisha%20and%20Jamal.pdf)

Oreopoulos, Philip. (2011). Why Do Skilled Immigrants Struggle in the Labor Market? A Field Experiment with Thirteen Thousand Resumes. American Economic Journal: Economic Policy, 3 (4): 148-71. [Click to download the paper](https://github.com/causal-methods/Papers/raw/master/Oreopoulos/Why%20Do%20Skilled%20Immigrants%20Struggle%20in%20the%20Labor%20Market.pdf)